In [1]:
def say_hello(): 
    print('hello') 
    print('beautiful') 
    print('world')

In [2]:
say_hello()

hello
beautiful
world

In [7]:
def say_hello(hash): 
    print(f'Hello {hash}')

In [8]:
say_hello('Harshit')

Hello Harshit

In [15]:
def add_num(num1,num2): 
    print(num1+num2)

In [16]:
add_num(10,20)

30

In [17]:
r=add_num(10,20)

30

In [21]:
def add_num(num1,num2): 
    return num1+num2

In [22]:
result=add_num(10,20)

In [23]:
result

30

In [24]:
def sum_num(num1,num2): 
    return num1+num2

In [27]:
sum_num("a","b")

'ab'

In [1]:
def even_check(number): 
    return number%2==0

In [2]:
even_check(190)

True

In [3]:
even_check(17)

False

In [4]:
def even_check(number): 
    result = number%2==0 
    return result

In [5]:
even_check(100)

True

In [6]:
even_check(360)

True

In [7]:
even_check(71)

False

In [8]:
even_check(97)

False

In [9]:
#RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST

In [20]:
def check_even_list(numlist):   
    for number in numlist: 
        if number % 2 ==0: 
            return True
        else: 
            pass 
    return False

In [21]:
check_even_list([1,2,3])

True

In [22]:
check_even_list([1,3,5])

False

In [17]:
check_even_list([2,7,9])

True

In [23]:
check_even_list([3,7,19])

False

In [26]:
def check_even_list(numlist): 
    #return all the even number in the list 
    
    #placeholder variables 
    evennumbers=[]
    for number in numlist: 
        if number % 2 ==0: 
            evennumbers.append(number)
        else: 
            pass 
    return evennumbers

In [27]:
check_even_list([1,3,5])

[]

In [28]:
check_even_list([2,4,6,3,7,9,17])

[2, 4, 6]

In [4]:
stock_prices=[('APPLE',200),('GOOGLE',400),('MICROSOFT',100)]

In [2]:
for item in stock_prices: 
    print(item)

('APPLE', 200)
('GOOGLE', 400)
('MICROSOFT', 100)

In [11]:
for ticker,price in stock_prices: 
    print(price+(0.1*price))

220.0
440.0
110.0

In [15]:
work_hours=[('Abby',1000),('Billy',400),('Cassie',800)]

In [13]:
def employee_check(work_hours): 
    current_max=0 
    employee_of_month='' 
    for employee,hours in work_hours: 
        if hours>current_max: 
            current_max=hours 
            employee_of_month=employee 
        else: 
            pass 
        #Return 
    return (employee_of_month,current_max)

In [17]:
result=employee_check(work_hours)

In [18]:
result

('Abby', 1000)

In [19]:
name,hour=employee_check(work_hours)

In [20]:
name

'Abby'

In [21]:
hour

1000

In [ ]:
example=[1,2,3,4,5,6,7,8,9,10]

In [23]:
from random import shuffle

In [24]:
shuffle(example)

In [25]:
example

[8, 9, 10, 1, 2, 3, 6, 7, 5, 4]

In [ ]:
result=shuffle(example)

In [ ]:
result

In [28]:
type(result)

NoneType

In [29]:
def shuffle_list(mylist): 
    shuffle(mylist) 
    return mylist

In [30]:
result=shuffle_list(example)

In [ ]:
mylist=['O','','']

In [35]:
shuffle_list(mylist)

['', 'O', '']

In [ ]:
def player_guess(): 
    
    guess='' 
    
    while guess not in ['0','1','2']: 
        guess=input('Pick a number 0,1 or 2') 
        
    return int(guess)

In [ ]:
player_guess()

In [ ]:
def