In [4]:
if 3>12: 
    print('ITS True')

In [10]:
 hungry=True 
if hungry: 
    print('I am Hungry') 
else: 
        print('I am not hungry')

I am Hungry

In [18]:
loc='anaconda' 
if loc=='Auto shop': 
    print('Cars are cool')
elif loc=='Bank': 
    print('Money is cool') 
elif loc=='Store': 
    print('Welcome to the store')
else: 
    print('I do not know much')

I do not know much

In [22]:
name='Sammy' 
if name=="Frankie": 
    print('Hello Frankie') 
elif name=='Sammy': 
    print('Hello Sammy') 
else: 
    print('What is your name')

Hello Sammy

In [4]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [4]:
for num in mylist: 
    print("I am Harshit")

I am Harshit
I am Harshit
I am Harshit
I am Harshit
I am Harshit
I am Harshit
I am Harshit
I am Harshit
I am Harshit
I am Harshit

In [6]:
for num in mylist: 
    #check for even 
    if num%2==0: 
        print(num) 
    else: 
            print(f'Odd Number:{num}')

Odd Number:1
2
Odd Number:3
4
Odd Number:5
6
Odd Number:7
8
Odd Number:9
10

In [8]:
listsum = 0  
for num in mylist: 
    listsum = listsum+num 
    print(listsum)

1
3
6
10
15
21
28
36
45
55

In [14]:
mystring='Hello World' 
for letter in mystring: 
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [19]:
tup=(1,2,3) 
for item in tup: 
    print(item)

1
2
3

In [23]:
mylist=[(1,2),(3,4),(5,6),(7,8)]

In [24]:
len(mylist)

4

In [26]:
for a,b in mylist: 
    print(a,b)

1 2
3 4
5 6
7 8

In [27]:
mylist=[(1,2,3),(4,5,6),(7,8,9)]

In [28]:
for item in mylist: 
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [32]:
for a,b,c in mylist: 
       print(a,b,c)

1 2 3
4 5 6
7 8 9

In [33]:
d={'k1':1,'k2':2,'k3':3} 
for key,value in d.items(): 
    print(value)

1
2
3

In [39]:
x=0 

while x>5: 
    print(f'The Current value of x is{x}') 
    x= x+1 
else: 
    print("X IS NOT LESS THEN 5")

X IS NOT LESS THEN 5

In [40]:
x=[1,2,3] 
for item in x: 
    pass
print('end of my script')

end of my script

In [41]:
mystring='sammy'

In [43]:
for letter in mystring: 
    if letter=='a': 
        break 
    print(letter)

s

In [45]:
x=0 
while x<5: 
    if x==2: 
        break
    print(x) 
    x+=1

0
1

In [4]:
for num in range(0,10,2): 
    print(num)

0
2
4
6
8

In [7]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [8]:
index_count=0 
for letter in 'abcde': 
    print('At index {} the letter is {}'.format(index_count,letter)) 
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [5]:
mylist1=[1,2,3] 
mylist2=['a','b','c'] 
mylist3=[100,200,300]

In [7]:
for a,b,c in zip(mylist1,mylist2,mylist3): 
    print(b)

a
b
c

In [8]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [12]:
2 in [1,2,3]

True

In [14]:
'a' in "a World"

True

In [15]:
mylist=[10,20,30,40,100]

In [16]:
min(mylist)

10

In [17]:
max(mylist)

100

In [18]:
from random import shuffle

In [19]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [20]:
shuffle(mylist)

In [21]:
mylist

[9, 2, 4, 5, 8, 10, 7, 3, 1, 6]

In [23]:
from random import randint

In [24]:
randint(0,100)

82

In [25]:
randint(0,100)

94

In [26]:
mynum=randint(0,500)

In [27]:
mynum

17

In [28]:
mynum

17

In [29]:
input('Enter your name')

Enter your nameHarshit

'Harshit'

In [34]:
result=input('What is your name?')

What is your name?012

In [37]:
result

'012'

In [38]:
type(result)

str

In [39]:
int(result)

12

In [40]:
float(result)

12.0

In [45]:
mystring='hello'

In [47]:
mylist=[] 
for letter in mystring: 
    mylist.append(letter)

In [48]:
mylist

['h', 'e', 'l', 'l', 'o']

In [49]:
mylist=[letter for letter in mystring]

In [50]:
mylist

['h', 'e', 'l', 'l', 'o']

In [52]:
mylist=[x for x in 'word']

In [53]:
mylist

['w', 'o', 'r', 'd']

In [54]:
mylist=[num**2 for num in range(0,11)]

In [55]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [66]:
mylist=[x**11 for x in range(0,11) if x%2==0]

In [67]:
mylist

[0, 2048, 4194304, 362797056, 8589934592, 100000000000]

In [68]:
celcius=[0,10,20,34.5] 
fahrenheit=[((9/5)*temp+32) for temp in celcius]

In [69]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [1]:
results=[x if x%2==0 else 'odd' for x in range(0,11)]

In [2]:
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [5]:
mylist=[] 
for x in [2,4,6]: 
    for y in[10,100,1000]: 
        mylist.append(x*y)

In [6]:
mylist

[20, 200, 2000, 40, 400, 4000, 60, 600, 6000]

In [3]:
mylist=[x*y for x in [2,4,6] for y in [1,10,1000]]

In [4]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [5]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.